node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=false
resolution-mode=highest
prefer-workspace-packages=false
ignore-workspace-root-check=true 